<div class="card shadow mb-4">
  <h2 class="custom-header">
    Add a new paper
  </h2>

  <form action="/insert_paper" method="post" enctype="multipart/form-data">
    <div class="mb-3">
      <label for="title_box">
        Title
      </label>

      <input type="text" id="title_box" name="query_title">
    </div>

    <div class="mb-3">
      <label for="author_box">
        Author
      </label>

      <input type="text" id="author_box" name="query_author">
    </div>

    <div class="mb-3">
      <label for="arxiv_identifier_box">
        Arxiv identifier
      </label>

      <input type="text" id="arxiv_identifier_box" name="query_arxiv_identifier">
    </div>

    <div class="mb-3">
      <label for="url_box">
        Url
      </label>

      <input type="text" id="url_box" name="query_url">
    </div>

    <div class="mb-3">
      <label for="text_box">
        Paper File
      </label>

      <input type="file" id="text_box" name="query_text" class="form-control w-50">
    </div>

    <div class="row mb-3">
      <label for="topics_box" class="col-sm-2 col-form-label">Select Topics</label>
      <div class="col-sm-10">
        <% Topic.all.each do |topic| %>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="topic_ids[]" 
              value=<%= topic.id %>" id="topic_<%= topic.id %>">
            <label class="form-check-label" for="topic_<%= topic.id %>">
              <%= topic.topic %>
            </label>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mb-3 form-check">
      <input type="hidden" name="query_bookmark" value="0">
      <input type="checkbox" class="form-check-input" id="bookmark_box" name="query_bookmark" value="1">
      <label for="bookmark_box" class="form-check-label">Bookmark this paper</label>
    </div>

    <div class="row mb-3">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Add Paper</button>
    </div>
</div>
</form>

<div class="card shadow mb-4">
  <h3 class="custom-header">
    Don't see a relevant topic? Quickly add it here or <a href="/topics">go to Topics</a>
  </h3>
  <form action="/insert_topic" method="post">
    <div>
      <label for="topic_box">New Topic</label>
      <input type="text" id="topic_box" name="query_topic">
    </div>
    <div class="row mb-3">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Create Topic</button>
    </div>
  </div>
  </form>
</div>
</div>


<hr>

<div class="card shadow mb-4">
  <h2 class="custom-header">Filter by Topics</h2>
  <form action="/papers" method="get">
    <div class="row mb-3">
      <label for="filter_topics" class="col-sm-2 col-form-label">Filter Topics</label>
      <div class="col-sm-10">
        <% Topic.all.each do |topic| %>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" name="topic_ids[]" 
              value="<%= topic.id %>" id="filter_topic_<%= topic.id %>"
               <%= "checked" if params[:topic_ids]&.include?(topic.id.to_s) %>>
            <label class="form-check-label" for="filter_topic_<%= topic.id %>">
              <%= topic.topic %>
            </label>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Filter</button>
      </div>
  </div>
  
  </form>
  <a href="/" class="btn btn-link">Show All Papers</a>
</div>

<hr>

<div>
  <div>
    <h1 class="custom-header">
      Your saved arXiv papers
    </h1>
  </div>
</div>

<div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <tr>
        <th>
          ID
        </th>

        <th>
          Title
        </th>

        <th>
          Author
        </th>

        <th>
          Arxiv identifier
        </th>

        <th>
          Url
        </th>

        <th>
          Paper File
        </th>

        <th>
          Topics
        </th>

        <th>
          Bookmarked
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_papers.each do |a_paper| %>
      <tr>
        <td>
          <%= a_paper.id %>
        </td>

        <td>
          <%= a_paper.title %>
        </td>

        <td>
          <%= a_paper.author %>
        </td>

        <td>
          <%= a_paper.arxiv_identifier %>
        </td>

        <td>
          <% if a_paper.url.present? %>
            <a href="<%= a_paper.url %>" target="_blank"><%= a_paper.url %></a>
          <% else %>
            No URL was provided
          <% end %>
        </td>

        <td>
          <% if a_paper.text.present? %>
            <a href="<%= a_paper.text.url %>" target="_blank">Download</a>
          <% else %>
            No file was uploaded
          <% end %>
        </td>

        <td>
          <% topics = a_paper.topics.map(&:topic) %>
          <%= topics.join(", ") %>
        </td>

        <td>
          <% if current_user.bookmarks.exists?(paper: a_paper) %>
            Yes
          <% else %>
            No
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(a_paper.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_paper.updated_at) %> ago
        </td>

        <td>
          <a href="/papers/<%= a_paper.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
