<div>
  <div>
    <h1 class="custom-header">
      <%= @the_paper.title %> details
    </h1>

    <div>
      <div>
        <a href="/papers">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_paper/<%= @the_paper.id %>">
          Delete paper
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_paper.title %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= @the_paper.author %>
      </dd>

      <dt>
        Arxiv identifier
      </dt>
      <dd>
        <%= @the_paper.arxiv_identifier %>
      </dd>

      <dt>
        Url
      </dt>
      <dd>
        <% if @the_paper.url.present? %>
          <a href="<%= @the_paper.url %>" target="_blank"><%= @the_paper.url %></a>
        <% else %>
          No URL provided
        <% end %>
      </dd>

      <dt>Text</dt>
      <dd>
        <% if @the_paper.text.present? %>
          <a href="<%= @the_paper.text.url %>" target="_blank">Download Text</a>
        <% else %>
          No file uploaded
        <% end %>
      </dd>


      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_paper.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_paper.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2 class="custom-header">
      Edit paper
    </h2>

    <form action="/modify_paper/<%= @the_paper.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_paper.title %>">
      </div>

      <div>
        <label for="author_box">
          Author
        </label>

        <input type="text" id="author_box" name="query_author" value="<%= @the_paper.author %>">
      </div>

      <div>
        <label>Topics</label><br>
        <% Topic.all.each do |topic| %>
          <input type="checkbox" name="topic_ids[]" value="<%= topic.id %>" 
                <%= @the_paper.topics.include?(topic) ? "checked" : "" %>>
          <%= topic.topic %><br>
        <% end %>
      </div>

      <div>
        <label for="arxiv_identifier_box">
          Arxiv identifier
        </label>

        <input type="text" id="arxiv_identifier_box" name="query_arxiv_identifier" value="<%= @the_paper.arxiv_identifier %>">
      </div>

      <div>
        <label for="url_box">
          Url
        </label>

        <% if @the_paper.url.present? %>
          <p>
            Current URL: <a href="<%= @the_paper.url %>" target="_blank"><%= @the_paper.url %></a>
          </p>
          <p>Update the URL:</p>
        <% end %>

        <input type="text" id="url_box" name="query_url" value="<%= @the_paper.url %>">
      </div>

      <div>
        <label for="text_box">
          Text
        </label>

        <% if @the_paper.text.present? %>
          <p>
            Current Paper File: <a href="<%= @the_paper.text.url %>" target="_blank">Download</a>
          </p>
          <p>If you want to replace the existing text, upload a new file:</p>
        <% else %>
          <p>No paper file uploaded. Please upload one:</p>
        <% end %>

        <input type="file" id="text_box" name="query_text" class="form-control">
      </div>
      
      <hr>

      <button>
        Update paper
      </button>
    </form>
  </div>
</div>

<hr>
