<div>
  <div class="card shadow mb-4">
    <h1 class="custom-header">
      <%= @the_paper.title %>
    </h1>

    <div>
      <div>
        <a href="/papers">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_paper/<%= @the_paper.id %>">
          Delete paper
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Title
      </dt>
      <dd>
        <%= @the_paper.title %>
      </dd>

      <dt>
        Author
      </dt>
      <dd>
        <%= @the_paper.author %>
      </dd>

      <dt>
        Arxiv identifier
      </dt>
      <dd>
        <%= @the_paper.arxiv_identifier %>
      </dd>

      <dt>
        Url
      </dt>
      <dd>
        <% if @the_paper.url.present? %>
          <a href="<%= @the_paper.url %>" target="_blank"><%= @the_paper.url %></a>
        <% else %>
          No URL was provided
        <% end %>
      </dd>

      <dt>Paper</dt>
      <dd>
        <% if @the_paper.text.present? %>
          <a href="<%= @the_paper.text.url %>" target="_blank">Download Paper</a>
        <% else %>
          No file was uploaded
        <% end %>
      </dd>

      <dt>
        Bookmarked
      </dt>
      <dd>
        <%= current_user.bookmarks.exists?(paper: @the_paper) ? "Yes" : "No"%>
      </dd>


      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_paper.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_paper.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<div>
  <div class="card shadow mb-4">
    <h2 class="custom-header">
      Edit paper
    </h2>

    <form action="/modify_paper/<%= @the_paper.id %>"  method="post" >
      <div>
        <label for="title_box">
          Title
        </label>

        <input type="text" id="title_box" name="query_title" value="<%= @the_paper.title %>">
      </div>

      <div>
        <label for="author_box">
          Author
        </label>

        <input type="text" id="author_box" name="query_author" value="<%= @the_paper.author %>">
      </div>

      <div class="row mb-3">
        <label for="topics_box" class="col-sm-2 col-form-label">Select Topics</label>
        <div class="col-sm-10">
          <% if current_user.topics.any? %>
            <% current_user.topics.each do |topic| %>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" name="topic_ids[]" 
                  value="<%= topic.id %>" id="topic_<%= topic.id %>" 
                  <%= "checked" if @the_paper.topics.include?(topic) %>>
                <label class="form-check-label" for="topic_<%= topic.id %>">
                  <%= topic.topic %>
                </label>
              </div>
            <% end %>
          <% else %>
            <p>You haven't created any topics yet. <a href="/topics">Create your first topic</a></p>
          <% end %>
        </div>
      </div>

      <div>
        <label for="arxiv_identifier_box">
          Arxiv identifier
        </label>

        <input type="text" id="arxiv_identifier_box" name="query_arxiv_identifier" 
          value="<%= @the_paper.arxiv_identifier %>">
      </div>

      <div class="mb-3">
        <label for="url_box" class="form-label">Url</label>
        
        <% if @the_paper.url.present? %>
          <p>
            Current URL: <a href="<%= @the_paper.url %>" target="_blank"><%= @the_paper.url %></a>
          </p>
          <div class="d-flex align-items-center">
            <p class="mb-0 me-2">Update the URL:</p>
            <input type="text" id="url_box" name="query_url" 
              value="<%= @the_paper.url %>" class="form-control w-50">
          </div>
        <% else %>
          <input type="text" id="url_box" name="query_url" value="<%= @the_paper.url %>" class="form-control">
        <% end %>
      </div>

      <div>
        <label for="text_box">
        </label>

        <% if @the_paper.text.present? %>
          <p>
            Current Paper File: <a href="<%= @the_paper.text.url %>" target="_blank">Download</a>
          </p>
          <p>If you want to replace the existing paper, upload a new file:</p>
        <% else %>
          <p>No paper file was uploaded. Please upload one:</p>
        <% end %>

        <input type="file" id="text_box" name="query_text" class="form-control">
      </div>

      <div class="mb-3 form-check">
        <input type="hidden" name="query_bookmark" value="0">
        <input type="checkbox" class="form-check-input" id="bookmark_box" name="query_bookmark" value="1">
        <label for="bookmark_box" class="form-check-label">Bookmark this paper</label>
      </div>
      
      <hr>

      <button>
        Update paper
      </button>
    </form>
  </div>
</div>

<hr>
